body{
  margin:0px;
}
h2 {
  text-align: center;
}
a{
  color:gray;
  font-weight: bold;
  text-decoration: none;
}
h1{
  text-align: center;
  border-bottom:1px solid gray;
  padding:20px;
  margin:0px;
}
#list{
  border-right:1px solid gray;
  width:130px;
  margin:0;
  padding:20px;
  list-style-type: none;
}
img{
  display: block;
  margin:0px auto;
  border:1px solid red;
  width: 500px;
}
div{
  text-align: center;
}
li{
  text-align: left;
}
ul{
  padding-left: 25px;
}
#grid{
  display:grid; /*grid 선택자의 보이는 형식을 grid로 바꿈.*/
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left: 40px;
  padding-right: 40px;
}
@media(max-width:1000px){
  #grid{
    display:block;
  }
  #list{
    display: grid;
    grid-template-columns: 150px 1fr;
    border-right:none;
    border-bottom: 1px solid gray;
    margin:0px auto;
    padding-right:0px;
    width:70%;
    padding:10px;
  }
  #list div{
    width:120px auto;
  }
  ul{
    padding:0;
  }
  img{
    width:400px;
  }
  #article{
    padding:0;
  }
